chromadb==0.6.1
colorama==0.4.6
datasets==2.19.1
fastparquet==2024.5.0
googletrans==4.0.2
imutils==0.5.4
joblib==1.4.2
langchain_text_splitters==0.3.4
nltk==3.9.1
numpy==2.2.1
opencv_python==4.10.0.82
pandas==2.2.3
psutil==5.9.8
pyspellchecker==0.8.1
python-dotenv==1.0.1
pyttsx3==2.90
Requests==2.32.3
scikit_learn==1.6.0
sentence_transformers==3.0.1
spacy==3.7.6
SpeechRecognition==3.10.4
torch==2.3.0
tqdm==4.66.4
transformers==4.38.2
unsloth==2024.5
