*\.idea
*\__pycache__
*\.vscode
*\node_modules
*\dist
*\.bin
*\.pt
*\.safetensors
*\.log
*\.metals
*\.bloop

*\.csv
*\.zip
*.gz

*\.vite

*\.vs
*\obj
*\bin

.ipynb_checkpoints
*\.parquet
*\tmp

.env
.env.docker
*.sqlite3
*.pickle

# gitignore json
token.json
commits.json
spacy_dataset.json
application.conf
*.xml
!pom.xml
*\auth_service.log
*\middleware_loader\resources
*\data_lake
*\chroma_db