#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
@media screen and (min-width: 320px) {
  #root {
    max-width: 300px;
  }
}
@media screen and (min-width: 768px) {
  #root {
    max-width: 720px;
  }
}
@media screen and (min-width: 1200px) {
  #root {
    max-width: 1000px;
  }
  #create-new-task {
    width: 120px;
  } 
}
@media screen and (min-width: 1366px) {
  #root {
    max-width: 1200px;
  }
  #create-new-task {
    width: 150px;
  }
}
@media screen and (min-width: 1600px) {
  #root {
    max-width: 1400px;
  }
  #create-new-task {
    width: 180px;
  }
}
@media screen and (min-width: 1920px) {
  #root {
    max-width: 1720px;
  }
}